<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.dao.ContentDAO">

<insert id="insert">
	insert into 
		inbody (userNum, userGender, height,
			weight, skeletalMuscleMass, bodyFatMass, bodyWater,
			protein, muscleMass, leanBodyMass, minerals, BMI,
			waistHipRatio, BMR, bodyShape)
	values (#{userNum}, #{userGender},
			#{height}, #{weight}, #{skeletalMuscleMass}, #{bodyFatMass},
			#{bodyWater}, #{protein}, #{muscleMass}, #{leanBodyMass}, #{minerals},
			#{BMI}, #{waistHipRatio}, #{BMR}, #{bodyShape})
</insert>


<select id="detail" resultType="com.spring.dto.InbodyDTO"> 
	select 
		* 
	from 
		inbody
	where 
		userNum = #{userNum} 
</select>

<update id="update"> 
	update 
		inbody 
	set 
			height = #{height}, weight = #{weight}, skeletalMuscleMass = #{skeletalMuscleMass}, 
			bodyFatMass= #{bodyFatMass}, bodyWater = #{bodyWater}, protein = #{protein}, 
			muscleMass = #{muscleMass}, leanBodyMass = #{leanBodyMass}, minerals = #{minerals},
			BMI = #{BMI}, waistHipRatio = #{waistHipRatio}, BMR = #{BMR}, bodyShape = #{bodyShape}
	where 
		userNum = #{userNum} 
</update>

<delete id="delete"> 
	delete from 
		inbody 
	where 
		userNum = #{userNum} 
</delete>
</mapper>
